README-Documentation.md

### Terraform ###

# Local .terraform directories
**/.terraform/**
**/.terraform

# .tfstate files
**/*.tfstate
*.tfstate.*
**/.terraform.lock.hcl

# imported module 
frontend/terraform
frontend/terraform/*
# website 
frontend/website/node_modules/
frontend/website/package-lock.json

# Others 
check-point